.w_50 {
  width: 50px;
}

#jumbo {
  background-image: url(img/jumbo-bg.png);
  background-size: cover;
}

#sezione2 img {
  border-radius: 10%;
}

#sezione4 {
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
}

#nuove-uscite {
  background-color: #1f1f1f;
}

#nuove-uscite .card {
  background-color: #1f1f1f;
}

#nuove-uscite img {
  border-radius: 10%;
}
#playstation-plus {
  background-color: #bebcbb;
}
#playstation-plus .card {
  background-color: #bebcbb;
}

#playstation-plus .btn {
  background-color: #d9dadc;
}
