.w_50 {
  width: 50px;
}

header {
  z-index: 2;
  top: 0;
}

#jumbo {
  background-image: url(img/jumbo-bg.png);
  background-size: cover;
  background-position-x: center;
  margin-top: 5rem;
}
#sezione2 img:hover {
  transform: scale(1.1);
}
#console .row img:hover {
  transform: scale(1.1);
  border-bottom: 1px solid blue;
}

#sezione2 img {
  border-radius: 10%;
}
.active:hover {
  border-bottom: 1px solid blue !important;
  opacity: 25%;
}

#sezione4 {
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position-x: center;
}

#nuove-uscite {
  background-color: #1f1f1f;
}

#nuove-uscite .card {
  background-color: #1f1f1f;
}

#nuove-uscite img {
  border-radius: 10%;
}
#nuove-uscite img:hover {
  transform: scale(1.1);
  transition: 1s;
}
#playstation-plus {
  background-color: #bebcbb;
}
#playstation-plus .card {
  background-color: #bebcbb;
}

#playstation-plus .btn {
  background-color: #d9dadc;
}
#playstation-now {
  background-color: #161c3b;
}
#playstation-now .card {
  background-color: #161c3b;
}
#playstation-now .btn {
  background-color: #f5f5f5;
}

footer {
  background-color: #00439c;
}
footer img {
  width: 5rem;
  color: white;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
  color: white;
}
